.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
src/main/resources/frontend-static-src
src/main/resources/frontend-static-src-old
src/main/resources/jobowit-users-frontend

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
bin/

lombok.jar
