<!doctype html>
<html lang="en">
<head>
  <base href="/" />
  <meta charset="utf-8" />
  <title>Jobowit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY7wBgnIBzrD_GrZlP6EDbe6S9F3MPIHQ&libraries=places"></script>-->

  <!-- The file below is for thymeleaf parsing of the above script file, don't forget to change the key -->
  <script th:src="@{//maps.googleapis.com/maps/api/js(key=AIzaSyAY7wBgnIBzrD_GrZlP6EDbe6S9F3MPIHQ,libraries=places)}"></script>
</head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="inline.bundle.js"></script><script type="text/javascript" src="polyfills.bundle.js"></script><script type="text/javascript" src="styles.bundle.js"></script><script type="text/javascript" src="vendor.bundle.js"></script><script type="text/javascript" src="main.bundle.js"></script></body>
</html>
<!--"outDir": "../jobowit/src/main/resources/static"-->
