<!doctype html>
<html lang="en">
<head>
  <base href="/" />
  <meta charset="utf-8" />
  <title>Jobowit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY7wBgnIBzrD_GrZlP6EDbe6S9F3MPIHQ&libraries=places"></script>-->

  <!-- The file below is for thymeleaf parsing of the above script file, don't forget to change the key -->
  <script th:src="@{//maps.googleapis.com/maps/api/js(key=AIzaSyAY7wBgnIBzrD_GrZlP6EDbe6S9F3MPIHQ,libraries=places)}"></script>
<link href="styles.bf772bd845141c0c9821.bundle.css" rel="stylesheet"/></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="inline.012160a9921521d6ec09.bundle.js"></script><script type="text/javascript" src="polyfills.652ef966ac5414a711ed.bundle.js"></script><script type="text/javascript" src="vendor.418cc5572d8d840ac82f.bundle.js"></script><script type="text/javascript" src="main.0d88acc798cd4ecf5849.bundle.js"></script></body>
</html>
<!--"outDir": "../jobowit/src/main/resources/static"-->
