<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Myob Error Occurred!</h1>    
    <b>[<span th:text="${status}">status</span>]
        <span th:text="${error}">error</span>
    </b>
    <p th:text="${message}">message</p>
    <br><br>
<a href="https://secure.myob.com/oauth2/account/authorize?client_id=vzbha48uyde74m4xtd9xuduz&redirect_uri=http%3A%2F%2Flocalhost%3A8082%2Fmyob&response_type=code&scope=CompanyFile">Retrieve Authorize Token</a>
</body>
</html>